<div class="bg">
  <div class="container vh-100 py-5">
    <div class="dateInfo mx-auto">
      <input type="date" class="dateInput p-2" [(ngModel)]="selectedDate" (change)="onDateChange()">
    </div>
    <table class="reservations" *ngIf="!areReservationsLoading">
      <tr class="reservationsHeader py-2">
        <th>Trainer Name</th>
        <th>Reservation Time</th>
        <th>Delete Button</th>
      </tr>
      <tr
        class="reservation py-3"
        *ngFor="let reservation of reservations; let i = index"
      >
        <td>{{reservation.trainer.fullName}}</td>
        <td>{{reservation.timeIntervalBegin}}</td>
        <td><button>Delete</button></td>
      </tr>
    </table>
    <br>
    <br>
    <br>
  </div>
</div>
