.nav-item.nav-link.active  {
  background: #5c5e60;
  border-radius: 10px;
  transition: none;
}
.nav-item.nav-link:hover  {
  background: #a4a4a4;
  border-radius: 10px;
}

.nav-item.nav-link  {;
  border-radius: 10px;
  margin: 0 5px;
}

@media(max-width: 992px) {
  .navbar-nav, .container-fluid {
    justify-content: center;
    align-items: center;
  }

  .nav-item.nav-link  {;
    width: 200px;
    text-align: center;
    margin: 5px;
  }
}
