<form class="vh-100 py-5 bg" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-90">
      <div class="col-12 col-md-8 col-lg-12 col-xl-6">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2">Change Password</h2>
              <br>
              <div class="column mx-5 mt-2">
                <label class="form-label p-0 mx-0" for="currentPassword">Current Password</label>
                <input
                  type="password"
                  id="currentPassword"
                  class="form-control form-control-lg disabledInput"
                  formControlName="currentPassword"
                />
                <h3 class="text-danger" *ngIf="incorrectPassword">Incorrect Password!</h3>
                <div class="text-danger text-start" *ngIf="changePasswordForm.controls.currentPassword.invalid && changePasswordForm.controls.currentPassword.dirty">Invalid!</div>
              </div>
              <div class="column mx-5 mt-4">
                <label class="form-label p-0 mx-0" for="newPassword">New Password</label>
                <input
                  type="password"
                  id="newPassword"
                  class="form-control form-control-lg disabledInput"
                  formControlName="newPassword"
                />
                <div class="text-danger text-start" *ngIf="changePasswordForm.controls.currentPassword.invalid && changePasswordForm.controls.newPassword.dirty">Invalid!</div>
              </div>
              <div class="column mx-5 mt-4">
                <label class="form-label p-0 mx-0" for="confirmNewPassword">Confirm New Password</label>
                <input
                  type="password"
                  id="confirmNewPassword"
                  class="form-control form-control-lg disabledInput"
                  formControlName="confirmNewPassword"
                />
                <div class="text-danger text-start" *ngIf="changePasswordForm.controls.currentPassword.invalid && changePasswordForm.controls.confirmNewPassword.dirty">Invalid!</div>
              </div>

              <button
                class="btn btn-outline-light btn-lg px-5"
                type="submit"
                [disabled]="this.changePasswordForm.invalid"
              >Submit</button>

              <button
                class="btn btn-outline-light btn-lg px-5 m-3"
                type="button"
                [routerLink]="['../']"
              >Cancel Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
