<div class="bg">
  <div class="container mt-5">
    <div class="reservationOptions">
      <input type="date" class="form-control w-50" [(ngModel)]="selectedDate">
      <button class="btn btn-primary loadButton">Load</button>
    </div>
    <div class="reservations">
      <div class="btn btn-primary reservationButton" [ngClass]="{ownReservation: reservation.belongsToCurrentUser, fullyReserved: reservation.isFull}" *ngFor="let reservation of reservationEntries">
        {{reservation.startTime}}-{{reservation.endTime}}
      </div>
    </div>
  </div>
  <br>
</div>
