<div class="bg">
  <div class="container vh-100 py-5">
    <div class="dateInfo">
      <div><button class="changeMonthButton" (click)="onDecrementMonth()">&lt;</button></div>
      <span>{{selectedMonth}} {{selectedYear}}</span>
      <div><button class="changeMonthButton" (click)="onIncrementMonth()">&gt;</button></div>
    </div>
    <div>
      <select name="trainers" id="trainers" [(ngModel)]="selectedTrainer" (change)="onTrainerChange()">
        <option [value]="selectedTrainer" disabled selected>Select an option</option>
        <option *ngFor="let trainer of trainers" [ngValue]="trainer">{{ trainer.fullName }}</option>
      </select>
    </div>
    <div class="calendar" *ngIf="selectedTrainer.username && isCalendarLoaded">
      <app-calendar-entry class="calendar-entry" *ngFor="let entry of entries" [date]="entry.date" [ngClass]="entry.status === 'FULL' ? 'full' : 'available'"></app-calendar-entry>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
